* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Forside */

body {
  margin: 0;
  font-family: "Inter", sans-serif;
  color: #222;
  background-color: #fff;
  line-height: 1.6;
}

/* Hero */
.logo_box {
  text-align: center;
  padding: 4rem 1rem 3rem;
}

.logo_box .logo {
  width: 80px;
  margin-bottom: 1.5rem;
}

.logo_box h1 {
  font-size: 2rem;
  font-weight: 400;
}

.logo_box span {
  color: #6b1b14; /* Mørk rød accent */
  font-weight: 600;
}

/* Sections */
.section {
  display: flex;
  justify-content: center;
  padding: 4rem 1rem;
}

.section-content {
  max-width: 1100px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  align-items: center;
}

.section-content.reverse {
  direction: rtl;
}

.section-content.reverse .text {
  direction: ltr;
}

/* Baggrunde */
.section-green {
  background-color: #a0a692;
  color: #fdfdfd;
}

.section-grey {
  background-color: #718a86;
  color: #fdfdfd;
}

.section-light {
  background-color: #f2ecec;
  color: #333;
}

/* Tekst */
.text h2 {
  font-size: 1.8rem;
  margin-bottom: 1rem;
}

.text span {
  color: #a6281d;
  font-weight: 700;
}

.text p {
  margin-bottom: 1rem;
}

/* Illustrationer */
.illustration img {
  max-width: 100%;
}

/* Knap*/
.btn {
  display: inline-block;
  background-color: #444939;
  color: white;
  padding: 0.5rem 1.2rem;
  border-radius: 4px;
  text-decoration: none;
  font-weight: 500;
}

.btn:hover {
  background-color: #222;
}

/* Footer */
.footer {
  background-color: #2b0f0f;
  color: white;
  padding: 40px 20px;
  text-align: center;
}

.footer-top {
  background-image: url("img/footer-heste.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 60px 20px;
  text-align: center;
  background-position: center 0px;
}

.footer-logo {
  width: 120px;
  height: auto;
  display: block;
  margin: 0 auto 25px;
  animation: spin 15s linear infinite;
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.store-buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.store-btn img {
  width: 150px;
  height: auto;
  cursor: pointer;
}
.footer-bottom {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px;
  flex-wrap: wrap;
}

.footer-col {
  flex: 1;
  min-width: 180px;
  text-align: left;
}

.footer-col h3 {
  margin-bottom: 15px;
  font-size: 1.2rem;
}

.newsletter-input {
  padding: 10px 15px;
  border-radius: 10px;
  border: none;
  width: 100%;
  max-width: 220px;
}

@media (max-width: 700px) {
  .footer-bottom {
    flex-direction: column;
    text-align: center;
  }

  .footer-col {
    text-align: center;
  }

  .newsletter-input {
    margin: 0 auto;
  }
}
