---
import PageLayout from "../layout/pagelayout.astro";
---

<PageLayout>
  <section class="app_section">
    <h1 id="download">Download nu</h1>
    <div class="desktop-app">
      <div>
        <img src="/img/appleurl.png" alt="" />

        <img src="/img/googleurl.png" alt="" />
      </div>
      <img src="/img/app.png" alt="" />
    </div>
    <div class="mobil-app">
      <a href="https://apps.apple.com/dk/app/soundwheel-genoplad-via-musik/id1617422124?l=da">
        <img src="/img/appstore.png" class="desk_onlyapp" alt="" />
      </a>
      <a href="https://play.google.com/store/apps/details?id=com.soundwheel.soundwheel">
        <img src="/img/google_store.png" class="desk_onlygoogle" alt="" />
      </a>
      <img src="/img/app.png" class="mobil_bund" alt="" />
    </div>
  </section></PageLayout
>
