---
import PageLayout from "../layout/pagelayout.astro";
---

<PageLayout>
  <section class="app-section">
    <div class="content">
      <h2>Vores app</h2>
      <p>Download ved at scanne<br />QR-koden</p>

      <div class="qr-wrapper">
        <div class="qr-item">
          <p>Apple</p>
          <img src="/img/appleurl.png" class="appleqr" alt="Apple QR" />
        </div>

        <div class="qr-item">
          <p>Google</p>
          <img src="/img/googleurl.png" class="googleqr" alt="Google QR" />
        </div>
      </div>
    </div>

    <div class="phone">
      <img src="/img/app.png" alt="Phone mockup" />
    </div>
  </section>
</PageLayout>
