---
import PageLayout from "../layout/pagelayout.astro";
---

<PageLayout>
  <div class="omos-grid">
    <section class="kristian">
      <div class="illustration">
        <img src="/img/kristian.webp" alt="kristian" />
      </div>
    </section>

    <div class="omos-tekst">
      <h1 class="h1_omos">Om os</h1>
      <p class="text_omos">
        <strong>Velkommen til SoundWheel</strong>. Vi tror på, at musik har magten til at skabe ro, energi og nærvær — midt i en travl hverdag. Hos SoundWheel kombinerer vi lyd, visuel guidning og stemning for at skabe pauser, der gør en forskel.
      </p>
      <h2 class="h2omos">Vores vision</h2>
      <p class="text_omos">
        Vores mål er at gøre <strong>kortere mentale pauser tilgængelige for alle — på jobbet, i skolen, hjemme eller på farten</strong>. I stedet for at prioritere lange meditationssessioner, har vi designet SoundWheel til dig, som ønsker hurtig effekt, minimal friktion og maksimal oplevelse.
      </p>
      <p class="text_omos">
        <strong>Kristian</strong> er kendt for at designe og lede fordybende lydlandskaber, der fungerer som korte, men kraftfulde genstarter for sindet. Hans arbejde udforsker krydsfeltet mellem musik, psykologi og velvære og har endda været genstand for akademisk forskning ved Brunel University i London. På bare 15 minutter vil han guide dig gennem en dybt energigivende session, der rydder op i mentale forstyrrelser, skærper fokus og genoplader din energi, så du føler dig frisk og klar til en dag dedikeret til <strong> sundhed og velvære.</strong>
      </p>
    </div>
  </div>
</PageLayout>
