---
import PageLayout from "../layout/pagelayout.astro";
import Card from "../Components/Card.astro";

const url = "https://isqjifohfxtrsvxtqusi.supabase.co/rest/v1/prices";
const key = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImlzcWppZm9oZnh0cnN2eHRxdXNpIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjMzNjU5NTgsImV4cCI6MjA3ODk0MTk1OH0.5Vs72-oLjBkHaKMO-9z3dvWTKX5xASm6E01uKqSYH0E";
const options = {
  headers: {
    apikey: key,
  },
};

const supaRequest = await fetch(url, options);
const supaData = await supaRequest.json();

console.log("supaData", supaData);
---

<PageLayout>
  <h1>Astro</h1>
  {
    supaData.map((price) => {
      return <Card navn={price.navn} pris={price.pris} beskrivelse={price.medarbejdere} />;
    })
  }
</PageLayout>
