---
const navn = Astro.props.navn;
const pris = Astro.props.pris;
const medarbejdere = Astro.props.beskrivelse;
---

<article class="cards">
  <h2>{navn}</h2>
  <p>Op til {medarbejdere} medarbejdere</p>
  <p>{pris} / År ekskl. moms</p>
  <a href="#" class="btn">Vælg plan</a>
</article>
