---
const { variant, data } = Astro.props;
console.log(data);
---

<article class="cards">
  <h2>{data.navn}</h2>
  <p>Op til {data.medarbejdere} medarbejdere</p>
  <p>{data.pris} / År ekskl. moms</p>
  <a href=`/priser/${data.slug}` class="btn">Vælg plan</a>
</article>
