<footer class="footer">
  <div class="footer-top">
    <img src="img/logo-red.svg" class="footer-logo" alt="SoundWheel Logo" />

    <div class="store-buttons">
      <a href="#" class="store-btn">
        <img src="img/appstore.png" alt="App Store" />
      </a>
      <a href="#" class="store-btn">
        <img src="img/googlestore.png" alt="Google Play" />
      </a>
    </div>
  </div>

  <div class="footer-bottom">
    <div class="footer-col">
      <a href="#">
        <h3>Hvem er vi?</h3>
      </a>
    </div>

    <div class="footer-col">
      <a href="#">
        <h3>FAQ</h3>
      </a>
    </div>

    <div class="footer-col">
      <a href="#">
        <h3>Nyhedsbrev:</h3>
      </a>
      <input type="email" placeholder="Email..." class="newsletter-input" />
    </div>
  </div>
</footer>
